body {
    background-color: #eaf6f6;
}
h1,h2,h3{
    color: #66BFBF;
}
table{
    border: 10%;
    padding: 10px;
    margin: 10px;
}
  hr {
    border-style:none;
    border-top-style: dotted;
    border-width: 6px;
    width: 10%;
    border-color: grey;
  }